body {
    min-width: fit-content;
    font-family: 'Philosopher', sans-serif;
    font-size: 1.12rem;
}

.fields{
    height: 50px;
    padding-right: 25px;
    /* margin: 33px; */
}

#headingHolder {
    text-align: center;
    color: forestgreen;
    background-color: rgba(166, 255, 0, 0.247);
}

.display-3 {
    font-family: 'Indie Flower', cursive;
}

#logo {
    width: 100px;
    height: auto;
}

#addToTableButton {
    width: 100%;
    box-shadow: none;
}

.container-fluid {
    margin: auto;
}


#newItemForm {
    margin: auto;
    background-color: rgba(200, 221, 125, 0.671);
    border-radius: 0.6rem;
}

#valueInputForm {
    margin: auto;
}

#valueFetchedForm {
    margin: auto;
    font-style: italic;
    font-weight: bold;
    background-color: rgba(63, 126, 209, 0.205);
    border-radius: 0.5rem;
}

#valueFetchedForm>tbody>tr>.fields {
    padding-left: 10px;
}

#valueInputForm>input, #valueFetchedForm>input, table {
    min-width: fit-content;
}

#valueInputForm>select {
    margin: auto;
}

.timeScheduled {
    background-color: yellow;
    color: teal;
    font-weight: 600;
}

.recipeGiven {
    background-color: rgb(164, 237, 240);
    color: purple;
    font-weight: 700;
}

.ingredient {
    background-color: blanchedalmond;
    color: rgb(26, 85, 56);
    font-weight: 500;
}

.amountTaken {
    background-color:  lightgoldenrodyellow;
}


.newIngredient {
    background-color: rgba(8, 163, 86, 0.342);
    border-radius: 0.6rem;
}

#download {
    background-color: rgb(6, 177, 134);
}